<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym</title>
    style
      include ../static/style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href='/'>HOME</a></li>
            <li><a href='/'>ABOUT</a></li>
            <li><a href='/'>CONTACT</a></li>
        </ul>
    </nav>
        <h1><b>#{tittle}</b></h1>
        | #{content}
        <h3>Top 3 student get free admission on HackerEarth institute</h3>
        <h3>Top 5 get 75% off</h3>
        <h3>Top 10 get 50% off</h3>
        <h3>Top 20 get 25% off</h3>
        <div class="form">
            <form action="/" method="post" id="contact">
                <input type= "text" name="NAME" id="NAME" placeholder="Full Name">
                <input type= "text" name="FNAME" id="FNAME" placeholder="Father's Name">
                <input type= "text" name="GENDER" id="GENDER" placeholder="Gender">
                <input type= "text" name="DOB" id="DOB" placeholder="DOB (date/month/year)">
                <input type= "text" name="MARKS" id="MARKS" placeholder="Marks in class 12 (N/500)"> 
                <input type= "text" name="QUALIFICATION" id="QUALIFICATION" placeholder="Qualification"> 
                <input type= "text" name="PLACE" id="PLACE" placeholder="Place">
                <input type= "text" name="NUMBER" id="NUMBER" placeholder="Phone number">
                <input type= "email" name="EMAIL"  id="EMAIL" placeholder="Email">
                <input type= "text" name="LANGUAGE" id="LANGUAGE" placeholder="Which Programming Language you want to learn"> 
                <button type="submit"> SUMBIT DETAILS </button>
        </div>
            <li><a href="https://en.wikipedia.org/wiki/Computer_programming">About Cumputer programming</a></li>

             <h4> List of Programming language</h4>
            <ol>
                <li>HTML</li>
                <li>CSS</li>
                <li>JAVASCRIPT</li>
                <li>DATA BASE</li>
                <li>C/C++</li>
                <li>JAVA</li>
                <li>PYTHON</li>
                <li>DATA STRUCTURE</li>
                <li>C#</li>
                <li>RUBY</li>
                <li>SQL/MySQL</li>
            </ol>
                
            </form>
</body>
</html>